{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Lise des Students</h1>
<p><a href="{{ path('add_student') }}">Ajouter un Students</a></p>

    <table class="table table-bordered">
        <thead  class="thead-dark">
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Numéro</th>
            <th>modifier</th>
            <th>Supprimer</th>
        </thead>

        <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.Firstname }}</td>
            <td>{{ student.Lastname }}</td>
            <td>{{ student.Numetud }}</td>
            <td><a href="{{ path('update_student', {'id': student.id}) }}">Modifier</a></td>
            <td><a href="{{ path('delete_student', {'id': student.id}) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}